
@{
    ViewData["Title"] = "View";
}

<!DOCTYPE html>
<html>
<head>
    <title>Вітаємо</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 50px;
        }

        h2 {
            color: #333;
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>Ласкаво просимо на наш сайт складання розкладу!</h1>
    <h2>
        Тут ви знайдете зручні інструменти для створення та перегляду розкладу занять.
        Наш сайт допоможе вам організувати навчальний процес, забезпечити правильне розподілення викладачів, аудиторій
        і предметів. Завдяки нашим функціям, ви зможете ефективно керувати навчальними програмами і
        забезпечити відповідність груп і предметів, які ці групи вивчають.
    </h2>
    <h1>
        Домашня сторінка:
    </h1>
    <h2>
        На цій сторінці ви знайдете вітання і короткий опис нашого сайту.
    </h2>
       
    <h1>
        Списки
    </h1>
    <h2>
        Сторінка зі списками груп викладачів, аудиторій і предметів:
        Тут ви зможете переглянути і керувати списками груп викладачів, 
        аудиторій і предметів. Додавайте нові записи, видаляйте або редагуйте
        існуючі дані для забезпечення актуальності вашої бази даних.
    </h2>
    <h1>
        Навчальні програми
    </h1>
    <h2>
        На цій сторінці ви зможете переглянути список навчальних програм і відповідні групи, 
        які вивчаються в кожній програмі. Це допоможе вам краще організувати розподіл предметів для груп та забезпечити їх консистентність.
    </h2>
    <h1>
        Розклад
    </h1>
    <h2>
        На цій сторінці ви зможете задати свою групу, або список груп і переглянути розклад занять спеціально для неї. Ви отримаєте повну інформацію про час, 
        місце проведення та предмети, що вивчаються в певний день або тиждень. Зручний і простий у використанні інтерфейс дозволить вам швидко знайти необхідну інформацію.
        Як Адміністратор у вас буде додаткова можливість додавати або забирати пари.
    </h2>
</body>
</html>


