
@{
    ViewData["Title"] = "View";
}

<!DOCTYPE html>
<html>
<head>
    <title>Вітаємо</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Вітаємо вас на сайті для складання розкладу для викладачів та студентів Національного Львівського університету ім. Івана Франка.</h1>
    <h1>Факультету Прикладної Математики та Інформатики</h1>
    <h1>Це проект написаний і використаний як дипломна робота студента 4 курсу</h1>
    <h1>Для короткого ознайомлення з ф-ціоналом перейдіть на секцію Короткий Опис</h1>
</body>
</html>


